a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    font-weight: bolder;
    color: red;
}

body {
    background-color: black;
    color: white;
}

p {
    display: flex;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    color: #f91827;
    font-family: 'onryou';
    font-weight: bold;;
    font-size: 32px;
    letter-spacing: 0.2em;
    line-height: 1.2em;
    padding-top: 2px;
}
p:hover {
  filter: drop-shadow(0px 0.1em 0px #af111c) drop-shadow(0px 0.2em 0px #52080d);
}

button {
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    font-family: 'onryou';
    font-size: 26px;
    font-weight: bolder;
    color: white;
    background-color: transparent;
    border: none;
    padding-bottom: 20px;
    letter-spacing: 0.2em;
}
button:hover {
  filter: drop-shadow(0px 0.1em 0px #af111c) drop-shadow(0px 0.2em 0px #52080d);
}

@font-face{
  font-family: 'onryou';
  src: url(onryou/onryou.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: 'echoes';
  src: url(echoes/Echoes.ttf);
  font-style: normal;
  font-weight: bold;
}

#character-name {
        font-family: 'echoes';  /*FONTE DO TEXTO*/
        font-size: 144px;   /*TAMANHO DA FONTE*/
        background: -webkit-linear-gradient(#afe7e8, #8b8b8b);  /*COR DO TEXTO (GRADIENTE)*/
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 0.12em;     /*ESPAÇAMENTO DAS LETRAS*/
        filter: drop-shadow(4px -0.05em 0px #af111c) drop-shadow(6px -0.03em 0px #52080d); /*EFEITO DE SOMBRA DO NOME*/
    }

.bloody-box {
  background-color: #750e15;
  margin: 30px 0;
  width: 500px;
  background-color: #8b0000; 
  border: 2px solid #4a0000;
  border-radius: 10px;
  box-shadow: 0 0 10px #ff0000, 0 0 30px #8b0000, 0 0 50px #4a0000;
}


#currPV {
    position: static;
    padding-left: 80px;
    padding-right: 20px;
}
#maxPV {
    position: static;
    padding-left: 20px;
}

#currPd {
    color: rgb(0, 137, 168);
    position: absolute;
    left: 290px;
}

.life-bar-container {
    width: 300px; 
    height: 30px; 
    border: 2px solid #333;
    border-radius: 5px;
    overflow: hidden; 
}

.life-bar-fill {
    height: 100%;
    width: 100%; 
    transition: width 0.5s ease;
}